stylist.vtl


<h3>Here are all the the clients associated with this stylist:</h3>

#if ($clients)
<ul>
  #foreach($client in $clients)
   <li><a href="/clients/$client.getId()">$client.getName()</a></li>
  #end
</ul>
  #else
  <h3>There are no clients for this stylist, want to <a href="/stylists/$stylist.getId()/clients/new">add one?</a></h3>
#end

<a href="/stylists/$stylist.getId()/clients/new">Add a new client</a>
<a href="/">Return to Main Page</a>
